<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="format-detection" content="telephone=no">
    <title>robot</title>
  </head>
  <body style="background-color:#f2f2f2; width: 100%">
    <table border="0" cellpadding="0" cellspacing="0" width="100%">
      <tr>
        <td>
        <table align="center" border="0" cellpadding="0" cellspacing="0" width="90%" style="border-collapse: collapse;">

          <tr style="background-color:white;margin-top: 10px;display: block;">
            <td style="padding: 20px; text-align: right; display:block; ">
              <a href="<%=newOriginFile%>">查看更多</a>
            </td>
          </tr>

     <% data.forEach(function(item) {
       var desc = item.desc.replace(/<[^>]*>/g, ''); 
     %>
          <tr style="background-color:white;margin-top: 10px;display: block;"><td style="padding: 10px;">
         <p style="font-size: 18px;"><a style="text-decoration: none; cursor: pointer; color: #1a0dab;" target='_blank' href='<%=item.link%>'><%=item.title%></a></p>
         <p style="font-size: 14px; color:#006621;">
          <span style=" margin-right: 20px; "><%=item.author%></span><%=item.date%></p>
         <p style="line-height: 18px; color: #545454; font-size: 13px; margin-top: 5px; border-top-color:#f2f2f2;border-top-width:1px; border-top-style: solid;padding-top: 10px;"><%=desc.slice(0, 300)%></p> 
          </td></tr>

      <% })%>
      
          <tr style="background-color:white;margin-top: 10px;display: block;">
            <td style="padding: 20px; text-align: right; display:block; ">
              <a href="<%=newOriginFile%>">查看更多</a>
            </td>
          </tr>

        </table>
        </td>
      </tr>
    </table>

  </body>
</html>
